.company {
	background: #fff;
	text-decoration: none;
	/*padding: var(--space-m) var(--space-l) var(--space-l);*/
	cursor: pointer;
	box-shadow:
		0 0 2px 0 rgba(0,0,0,0.1),
		0 4px 10px -2px rgba(0,0,0,0.2);
	transition: all .2s;

	&__header {
		position: relative;
		z-index: 0;
		height: 156px;
		display: flex;
		justify-content: center;
		align-items: center;
		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-image: radial-gradient(ellipse at 30% 110%,rgba(255,255,255,.35) 0%,rgba(255,255,255,0) 100%);
		}
	}

	& .text_size_xxl {
		font-size: 28px;
	}

	&__content {
		text-align: left;
		box-sizing: border-box;
		/*padding: var(--space-s) var(--space-m);*/
		padding: var(--space-xxl) var(--space-xxl) var(--space-l);
	}

	&__desc {
		line-height: 21px;
		padding: var(--space-s) 0 var(--space-l);
		border-bottom: 1px solid var(--color-bg-border);
	}

	&__stats {
		text-align: center;
		& .text_size_xxxl {
			font-size: 36px;
		}
	}

	&:hover {
		transform: translateY(-5px);
		box-shadow:
			0 20px 26px -10px rgba(0,0,0,0.10),
			0 0 8px -2px rgba(0,0,0,0.20);
		& .text_size_xxl { color: var(--color-link); }
	}
}
