.btn {
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	transition: all .3s;
	height: 44px;
	line-height: 44px;
	font-size: 15px;
	padding: 0 var(--space-l);
	box-sizing: border-box;
	text-align: center;
	&_view {
		&_action {
			color: #fff;
			background-color: var(--color-bg-action);
			&:hover {
				opacity: .85;
			}
		}
		&_secondary {
			color: var(--color-bg-action);
			border: 2px solid var(--color-bg-action);
			line-height: 40px;
			&:hover {
				background-color: rgba(30, 70, 240, 0.1);
			}
		}
	}
	&_size {
		&_s {
			height: 32px;
			line-height: 32px;
			font-size: 13px;
			padding: 0 var(--space-s);
			&.btn_view_secondary { line-height: 28px; }
		}
	}
}
