.search-section {
	width: 100%;
	display: block;
	height: 60vh;
	max-height: 330px;
	background-image: url(search.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
}
